// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '../css/template.css';

// Variables
@import 'variables';
@import 'paddings';
@import 'home-page';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//import bootstrap icons
@font-face {
    font-family: 'bootstrap-icons';
    src: url('~bootstrap-icons/font/fonts/bootstrap-icons.woff2') format('woff2'),
    url('~bootstrap-icons/font/fonts/bootstrap-icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Importe os estilos
@import '~bootstrap-icons/font/bootstrap-icons';
